.container{
    margin-bottom: 100px;
}

.orange-bg{
    background-color:black ;
    padding: 20px 40px;
    border-radius: 10px;
    color: azure;
}

.price{
    color:#FF136F;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,#FF5898 0%,#FF136F);
    color:#fff;
    border:none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor:pointer;
    margin-top: 15px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 15px;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;;
}
.card{
    border:none;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
}
.card-footer{
    border-top: none;
    background-color: white;
}
#subscribe{
    height:300px;
}
#subscribe h6{
    color: green;
}
footer{
    text-align: center;
}